In [95]:
# Day21 Assignment Batch1 AIML 
# Venkkatesh V R 
# Building Linear Regression Model and Logistic Regression Model

In [116]:
# import the neccessary libraries

import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Linear Regression Model

## Case Study : House price prediction 

You have to predict the price of a house based on various parameters like Land Area, Number of Bedrooms, No of Floors and No of Bathrooms.

In [96]:
data=pd.read_excel("Linear Regression.xlsx")

In [97]:
data.head()

    price  sqft_living  bedrooms  bathrooms  floors
0  221900         1180         3       1.00     1.0
1  538000         2570         3       2.25     2.0
2  180000          770         2       1.00     1.0
3  604000         1960         4       3.00     1.0
4  510000         1680         3       2.00     1.0

In [98]:
data.shape

(21613, 5)

In [101]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        21613 non-null  int64
 1   sqft_living  21613 non-null  int64
 2   bedrooms     21613 non-null  int64
 3   bathrooms    21613 non-null  float64
 4   floors       21613 non-null  float64
dtypes: float64(2), int64(3)
memory usage: 844.4 KB

In [103]:
# Check for missing values
data.isnull().sum()

price          0
sqft_living    0
bedrooms       0
bathrooms      0
floors         0
dtype: int64

In [104]:
# Check for Duplicates
data.duplicated().sum()

266

In [105]:
# Drop duplicates
data.drop_duplicates(inplace = True)

In [99]:
# To find any correlation between the variables
data.corr()

                price  sqft_living  bedrooms  bathrooms    floors
price        1.000000     0.702035  0.308350   0.525138  0.256794
sqft_living  0.702035     1.000000  0.576671   0.754665  0.353949
bedrooms     0.308350     0.576671  1.000000   0.515884  0.175429
bathrooms    0.525138     0.754665  0.515884   1.000000  0.500653
floors       0.256794     0.353949  0.175429   0.500653  1.000000

###  Linear Regression model based on Size of the plot

In [142]:
# seperate the target variable i.e predicted or dependent variable

y = data['price']

In [144]:
# seperate the independent variables
x = data[['sqft_living']]

In [145]:
# split the data into train and test dataset
x_train, x_test, y_train, y_test = train_test_split(x ,y, test_size = 0.2, random_state = 2)

In [146]:
# build the linear regression model

lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [147]:
# linear regression coefficence
lr.coef_

array([276.88043291])

In [148]:
#
lr.intercept_

-35727.90104284638

In [149]:
y_pred = lr.predict(x_test)

In [150]:

RMSE = np.sqrt(mean_squared_error(y_test, y_pred))
r_square = r2_score(y_test, y_pred)

print('The R square value is:', r_square)
print('The RMSE value is:', RMSE)

The R square value is: 0.5029310605813945
The RMSE value is: 272082.4248082161

In [151]:
x_test.head()

       sqft_living
5972          1700
16455          840
5382          1920
16825         4300
16647         2100

In [152]:
ydf = pd.DataFrame(y_pred,columns=['Price'])
ydf.head()

          Price
0  4.349688e+05
1  1.968517e+05
2  4.958825e+05
3  1.154858e+06
4  5.457210e+05

### Linear Regression model based on Number of Bedrooms

In [153]:
# seperate the target variable i.e predicted or dependent variable

y = data['price']

In [154]:
# seperate the independent variables
x = data[['bedrooms']]

In [155]:
# split the data into train and test dataset
x_train, x_test, y_train, y_test = train_test_split(x ,y, test_size = 0.2, random_state = 2)

In [156]:
# build the linear regression model

lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [157]:
# linear regression coefficence
lr.coef_

array([126220.5966624])

In [158]:
#
lr.intercept_

115856.32111606858

In [159]:
y_pred = lr.predict(x_test)

In [160]:

RMSE = np.sqrt(mean_squared_error(y_test, y_pred))
r_square = r2_score(y_test, y_pred)

print('The R square value is:', r_square)
print('The RMSE value is:', RMSE)

The R square value is: 0.07170267631840799
The RMSE value is: 371822.5504955901

In [161]:
x_test.head()

       bedrooms
5972          4
16455         2
5382          3
16825         4
16647         4

In [162]:
ydf = pd.DataFrame(y_pred,columns=['Price'])
ydf.head()

           Price
0  620738.707766
1  368297.514441
2  494518.111103
3  620738.707766
4  620738.707766

### Linear Regression model based on Number of Bathrooms

In [163]:
# seperate the target variable i.e predicted or dependent variable

y = data['price']

In [164]:
# seperate the independent variables
x = data[['bathrooms']]

In [165]:
# split the data into train and test dataset
x_train, x_test, y_train, y_test = train_test_split(x ,y, test_size = 0.2, random_state = 2)

In [166]:
# build the linear regression model

lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [167]:
# linear regression coefficence
lr.coef_

array([250995.43439352])

In [168]:
#
lr.intercept_

9112.152872233535

In [169]:
y_pred = lr.predict(x_test)

In [170]:

RMSE = np.sqrt(mean_squared_error(y_test, y_pred))
r_square = r2_score(y_test, y_pred)

print('The R square value is:', r_square)
print('The RMSE value is:', RMSE)

The R square value is: 0.2504947684323794
The RMSE value is: 334102.33483877813

In [171]:
x_test.head()

       bathrooms
5972        2.50
16455       1.00
5382        2.75
16825       4.50
16647       1.00

In [172]:
ydf = pd.DataFrame(y_pred,columns=['Price'])
ydf.head()

          Price
0  6.366007e+05
1  2.601076e+05
2  6.993496e+05
3  1.138592e+06
4  2.601076e+05

### Linear Regression model based on Number of Floors

In [173]:
# seperate the target variable i.e predicted or dependent variable

y = data['price']

In [174]:
# seperate the independent variables
x = data[['floors']]

In [175]:
# split the data into train and test dataset
x_train, x_test, y_train, y_test = train_test_split(x ,y, test_size = 0.2, random_state = 2)

In [176]:
# build the linear regression model

lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [177]:
# linear regression coefficence
lr.coef_

array([179992.79319053])

In [178]:
#
lr.intercept_

272454.66991595825

In [179]:
y_pred = lr.predict(x_test)

In [180]:

RMSE = np.sqrt(mean_squared_error(y_test, y_pred))
r_square = r2_score(y_test, y_pred)

print('The R square value is:', r_square)
print('The RMSE value is:', RMSE)

The R square value is: 0.046817614920313555
The RMSE value is: 376773.3532398646

In [181]:
x_test.head()

       floors
5972      2.0
16455     1.0
5382      1.0
16825     2.0
16647     1.0

In [182]:
ydf = pd.DataFrame(y_pred,columns=['Price'])
ydf.head()

           Price
0  632440.256297
1  452447.463106
2  452447.463106
3  632440.256297
4  452447.463106

### Multiple Linear Regression

In [183]:
# seperate the target variable i.e predicted or dependent variable

y = data['price']

In [184]:
# seperate the independent variables
x = data[['sqft_living', 'bedrooms', 'bathrooms', 'floors']]

In [185]:
# split the data into train and test dataset
x_train, x_test, y_train, y_test = train_test_split(x ,y, test_size = 0.2, random_state = 2)

In [186]:
# build the linear regression model

lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [187]:
# linear regression coefficence
lr.coef_

array([   301.5523827 , -60701.51326262,  16634.0843308 ,   2166.98125362])

In [188]:
#
lr.intercept_

79080.50051328505

In [189]:
y_pred = lr.predict(x_test)

In [190]:

RMSE = np.sqrt(mean_squared_error(y_test, y_pred))
r_square = r2_score(y_test, y_pred)

print('The R square value is:', r_square)
print('The RMSE value is:', RMSE)

The R square value is: 0.5127689032768146
The RMSE value is: 269376.4813023921

In [191]:
x_test.head()

       sqft_living  bedrooms  bathrooms  floors
5972          1700         4       2.50     2.0
16455          840         2       1.00     1.0
5382          1920         3       2.75     1.0
16825         4300         4       4.50     2.0
16647         2100         4       1.00     1.0

In [192]:
ydf = pd.DataFrame(y_pred,columns=['Price'])
ydf.head()

          Price
0  3.948327e+05
1  2.297825e+05
2  5.238672e+05
3  1.212137e+06
4  4.883355e+05

In [193]:
# End Of Linear Regression

# Logistic Regression Model

## Case Study 1: Bank Personal Loan Modelling

This case is about a bank (Thera Bank) which has a growing customer base. Majority of these customers are liability customers (depositors) with varying size of deposits. The number of customers who are also borrowers (asset customers) is quite small, and the bank is interested in expanding this base rapidly to bring in more loan business and in the process, earn more through the interest on loans. In particular, the management wants to explore ways of converting its liability customers to personal loan customers (while retaining them as depositors). A campaign that the bank ran last year for liability customers showed a healthy conversion rate of over 9% success. This has encouraged the retail marketing department to devise campaigns to better target marketing to increase the success ratio with a minimal budget.

The department wants to build a model that will help them identify the potential customers who have a higher probability of purchasing the loan. This will increase the success ratio while at the same time reduce the cost of the campaign.

In [47]:
data = pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)

In [48]:
data.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [49]:
data.shape

(5000, 14)

In [50]:
# drop the columns which are not required like id and zip 

df = data.drop(['ID','ZIP Code'],axis=1)

In [51]:
df.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1

In [52]:
df.shape

(5000, 12)

In [54]:
df.columns

Index(['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Personal Loan', 'Securities Account', 'CD Account',
       'Online', 'CreditCard'],
      dtype='object')

In [56]:
# Seperate the Dependent Data as "Y" and independent Data as "X"
Y = df['Personal Loan']
X = df[['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Securities Account', 'CD Account',
       'Online', 'CreditCard']]

In [61]:
# perform logistic regression since the dependent variable is Categorical and it is classification model

X1 = sm.add_constant(X)
Logistic = sm.Logit(Y,X1)
result = Logistic.fit()

Optimization terminated successfully.
         Current function value: 0.128435
         Iterations 9

In [62]:
# publish the results

result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4988
Method:                           MLE   Df Model:                           11
Date:                Sun, 09 Aug 2020   Pseudo R-squ.:                  0.5938
Time:                        21:26:47   Log-Likelihood:                -642.18
converged:                       True   LL-Null:                       -1581.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                -12.1928      1.645     -7.411      0.000     -15.417      -8.968
Age                   -0.0536      0.061     -0.874      0.382      -0.174       0.067
Experience             0.0638      0.061      1.046      0.295      -0.056       0.183
Income                 0.0546      0.003     20.831      0.000       0.049       0.060
Family                 0.6958      0.074      9.364      0.000       0.550       0.841
CCAvg                  0.1240      0.040      3.127      0.002       0.046       0.202
Education              1.7362      0.115     15.088      0.000       1.511       1.962
Mortgage               0.0005      0.001      0.856      0.392      -0.001       0.002
Securities Account    -0.9368      0.286     -3.277      0.001      -1.497      -0.377
CD Account             3.8225      0.324     11.800      0.000       3.188       4.457
Online                -0.6752      0.157     -4.298      0.000      -0.983      -0.367
CreditCard            -1.1197      0.205     -5.462      0.000      -1.522      -0.718
======================================================================================
"""

**Inference - By considering all the independent variables, by performing logistic regression, we come to know that  Income, Family, Education, CD Account, Online, Credit Card are the most significant variables that determine whether a person will get a Personal Loan or not.**

## Attrition analysis

Problem Statement A large company named XYZ, employs, at any given point of time, around 4000 employees. However, every year, around 15% of its employees leave the company and need to be replaced with the talent pool available in the job market. The management believes that this level of attrition (employees leaving, either on their own or because they got fired) is bad for the company, because of the following reasons -

The former employees projects get delayed, which makes it difficult to meet timelines, resulting in a reputation loss among consumers and partners
A sizeable department has to be maintained, for the purposes of recruiting new talent
More often than not, the new employees have to be trained for the job and/or given time to acclimatise themselves to the company
Hence, the management has contracted an HR analytics firm to understand what factors they should focus on, in order to curb attrition. In other words, they want to know what changes they should make to their workplace, in order to get most of their employees to stay. Also, they want to know which of these variables is most important and needs to be addressed right away.

Since you are one of the star analysts at the firm, this project has been given to you.

Goal of the case study You are required to model the probability of attrition. The results thus obtained will be used by the management to understand what changes they should make to their workplace, in order to get most of their employees to stay.

In [63]:
data = pd.read_csv("general_data.csv")

In [64]:
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [65]:
# display the data information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   EmployeeCount            4410 non-null   int64
 8   EmployeeID               4410 non-null   int64
 9   Gender                   4410 non-null   object
 10  JobLevel                 4410 non-null   int64
 11  JobRole                  4410 non-null   object
 12  MaritalStatus            4410 non-null   object
 13  MonthlyIncome            4410 non-null   int64
 14  NumCompaniesWorked       4391 non-null   float64
 15  Over18                   4410 non-null   object
 16  PercentSalaryHike        4410 non-null   int64
 17  StandardHours            4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4401 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int64(14), object(8)
memory usage: 827.0+ KB

In [66]:
# Check for missing values

data.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [67]:
# Perform data pre-processing to convert categorical variables to numeric variables using label encoder

le = LabelEncoder()
data.Attrition= le.fit_transform(data.Attrition)
data.Gender = le.fit_transform(data.Gender)
data.MaritalStatus = le.fit_transform(data.MaritalStatus)

In [68]:
# Perform data pre-processing to convert categorical variables to numeric variables using pd.dummies
dep = pd.get_dummies(data['Department'], drop_first= True)
data=pd.concat([data.drop('Department',axis=1),dep],axis=1)

bt = pd.get_dummies(data['BusinessTravel'], drop_first= True)
data=pd.concat([data.drop('BusinessTravel',axis=1),bt],axis=1)

In [69]:
data.columns

Index(['Age', 'Attrition', 'DistanceFromHome', 'Education', 'EducationField',
       'EmployeeCount', 'EmployeeID', 'Gender', 'JobLevel', 'JobRole',
       'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked', 'Over18',
       'PercentSalaryHike', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'YearsAtCompany',
       'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'Research & Development', 'Sales', 'Travel_Frequently',
       'Travel_Rarely'],
      dtype='object')

In [70]:
# drop few variables which will not affect the result based on domain knowledge
data.drop(['EducationField','JobRole','Over18'],axis=1,inplace=True)

In [71]:
data.head()

,Age,Attrition,DistanceFromHome,Education,EmployeeCount,EmployeeID,Gender,JobLevel,MaritalStatus,MonthlyIncome,...,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Research & Development,Sales,Travel_Frequently,Travel_Rarely
0,51,0,6,2,1,1,0,1,1,131160,...,0,1.0,6,1,0,0,0,1,0,1
1,31,1,10,1,1,2,0,1,2,41890,...,1,6.0,3,5,1,4,1,0,1,0
2,32,0,17,4,1,3,1,4,1,193280,...,3,5.0,2,5,0,3,1,0,1,0
3,38,0,2,5,1,4,1,3,1,83210,...,3,13.0,5,8,7,5,1,0,0,0
4,32,0,10,1,1,5,1,1,2,23420,...,2,9.0,2,6,0,4,1,0,0,1

In [72]:
data.isna().sum()

Age                         0
Attrition                   0
DistanceFromHome            0
Education                   0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
Research & Development      0
Sales                       0
Travel_Frequently           0
Travel_Rarely               0
dtype: int64

In [73]:
data.dropna(inplace=True)

In [86]:
data.isna().sum()

Age                        0
Attrition                  0
DistanceFromHome           0
Education                  0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
Research & Development     0
Sales                      0
Travel_Frequently          0
Travel_Rarely              0
dtype: int64

In [87]:
Y = data['Attrition']

In [88]:
data.columns

Index(['Age', 'Attrition', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeID', 'Gender', 'JobLevel', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'Research & Development', 'Sales', 'Travel_Frequently',
       'Travel_Rarely'],
      dtype='object')

In [89]:
X = data.drop('Attrition',axis=1)

In [90]:
X1 = sm.add_constant(X)

In [91]:
Logistic = sm.Logit(Y,X1)

In [92]:
data.dtypes

Age                          int64
Attrition                    int32
DistanceFromHome             int64
Education                    int64
EmployeeCount                int64
EmployeeID                   int64
Gender                       int32
JobLevel                     int64
MaritalStatus                int32
MonthlyIncome                int64
NumCompaniesWorked         float64
PercentSalaryHike            int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
Research & Development       uint8
Sales                        uint8
Travel_Frequently            uint8
Travel_Rarely                uint8
dtype: object

In [93]:
result = Logistic.fit()

Optimization terminated successfully.
         Current function value: 0.384640
         Iterations 7

In [94]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              Attrition   No. Observations:                 4382
Model:                          Logit   Df Residuals:                     4361
Method:                           MLE   Df Model:                           20
Date:                Sun, 09 Aug 2020   Pseudo R-squ.:                  0.1281
Time:                        21:49:25   Log-Likelihood:                -1685.5
converged:                       True   LL-Null:                       -1933.1
Covariance Type:            nonrobust   LLR p-value:                 3.047e-92
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Age                        -0.0321      0.007     -4.628      0.000      -0.046      -0.019
DistanceFromHome           -0.0010      0.005     -0.183      0.855      -0.012       0.010
Education                  -0.0652      0.043     -1.512      0.131      -0.150       0.019
EmployeeCount              -0.0079   4.49e+07  -1.75e-10      1.000    -8.8e+07     8.8e+07
EmployeeID              -1.288e-05   3.45e-05     -0.373      0.709   -8.05e-05    5.48e-05
Gender                      0.1119      0.091      1.234      0.217      -0.066       0.290
JobLevel                   -0.0335      0.041     -0.827      0.408      -0.113       0.046
MaritalStatus               0.5921      0.064      9.241      0.000       0.467       0.718
MonthlyIncome           -1.063e-06   9.62e-07     -1.105      0.269   -2.95e-06    8.23e-07
NumCompaniesWorked          0.1353      0.019      7.196      0.000       0.098       0.172
PercentSalaryHike           0.0189      0.012      1.584      0.113      -0.004       0.042
StandardHours              -0.0628   5.61e+06  -1.12e-08      1.000    -1.1e+07     1.1e+07
StockOptionLevel           -0.0738      0.052     -1.413      0.158      -0.176       0.029
TotalWorkingYears          -0.0614      0.012     -5.033      0.000      -0.085      -0.037
TrainingTimesLastYear      -0.1322      0.036     -3.695      0.000      -0.202      -0.062
YearsAtCompany              0.0149      0.019      0.793      0.428      -0.022       0.052
YearsSinceLastPromotion     0.1293      0.021      6.257      0.000       0.089       0.170
YearsWithCurrManager       -0.1368      0.023     -6.030      0.000      -0.181      -0.092
Research & Development     -0.7851      0.183     -4.297      0.000      -1.143      -0.427
Sales                      -0.9078      0.191     -4.746      0.000      -1.283      -0.533
Travel_Frequently           1.4595      0.202      7.229      0.000       1.064       1.855
Travel_Rarely               0.7306      0.190      3.854      0.000       0.359       1.102
===========================================================================================
"""

**Inference - Considering all the independent variables, by performing logistic regression, we come to know that Age, MaritalStatus, NumCompaniesWorked, TotalWorkingYears, TrainingTimesLastYear, YearsSinceLastPromotion, YearsWithCurrManager, Department, and Business Travel are the most significant variables that determine whether a person will leave the company or not.**

In [194]:
# End Of Logistic Regression

In [ ]:
# End Of Assignment